/*Page accueil*/

.page1 {
    background-image: url(background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.titre {
    font-size: 8vw;
    margin-top: 28px;
}



#panier {
    width: 74px;
    margin-top: 26px;
    margin-left: 34px;
    z-index: 0;
}

#panier:hover {
    transform: rotate(6deg);
    transition: 0.8s;
}
.Pnotif{
    width: 0;
    height: 0;
    display: none;
}
 
.notif{
    width: 15px;
    height: 14px;
    background-color: red;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 97px;
    left: 35px;
}

.vide {
    width: 0;
    height: 0;
    display: none;
}

.afficher {
    width: 280px;
    height: 23vh; 
    background-color: black;
    z-index: 1;
    position: absolute;
    color: white;
    margin-left: 17px;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-color: transparent;
    
}
.afficher::-webkit-scrollbar {
    display: none;
  }



/*burger*/

.navbar {
    display: flex;
    width: 100vw;
    justify-content: flex-end;
    z-index: 10;
}

.navbar__links {
    transform: translateX(150%);
    transition: all 1s ease-out;
    background-color: black;
    width: 25vw;
    height: 86vh;
   list-style-type: none; 
   position: absolute;
   padding: 38px;
}

.navbar__link{
    padding: 38px;
}

.showNav .navbar__links {
    transform: translateX(0);
    flex-direction: column;    
    width: 25vw;
    height: 86vh;
    background-color: black;
   
}

.showNav .navbar__link {
    
}

.navbar__link>a {
    text-decoration: none;
    color: white;
    font-size: 40px;
}

.navbar__link>a:hover {
    letter-spacing: 10px;
    transition: 1s;
}

.burger {
    display: block;
    height: 60px;
    width: 60px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 3;
    margin-right: 22px;
}

.bar {
    width: 56px;
    height: 3px;
    background: white;
    display: block;
}

.showNav .bar {
    background: transparent;
    width: 0;
    transition: 0.3s;
}

.bar::before,
.bar::after {
    content: "";
    width: 56px;
    height: 3px;
    background-color: white;
    display: block;
    position: absolute;
}

.bar::before {
    transform: translateY(-12px);
}

.showNav .bar::before {
    transform: rotate(45deg);
    transition: 0.7s;
}

.bar::after {
    transform: translateY(12px);
}

.showNav .bar::after {
    transform: rotate(-45deg);
    transition: 0.7s;
}


/*carousel*/

.container {
    max-width: 560px;
    margin: 0 auto;
    padding: 50px;
}

.slider iframe {
    display: none;
    animation: fade 0.8s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.barBouton {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.bouton {
    font-size: 50px;
    margin: 0 15px;
    cursor: pointer;
    top: -184px;
    position: absolute;
    width: 62px;
    height: 62px;
}

.bouton:hover {
    background-color: rgba(255, 255, 255, 0.22);
}

.droit {
    left: 383px;
}

.gauche {
    left: -15px;
    transform: rotate(180deg);
}


/*Quand la balise possede la class active !! (car pas d'espace*/

iframe.active {
    max-width: 100%;
    display: block;
}